@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* content styles*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

.content {
  flex: 1 1 auto;
}
.content .header__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.content .header__block .block__header {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 161px;
  color: #f6f6f6;
}
.content .header__block .block__subheader {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #575757;
  margin-top: -40px;
}
.content .work__container .work__row {
  display: flex;
  flex-direction: row;
  height: 400px;
}
.content .work__container .work__row .work_element:first-child {
  box-shadow: none;
}
.content .work__container .work__row .work_element:last-child {
  box-shadow: none;
}
.content .work__container .work__row .work_element {
  flex: 0 0 33.333%;
  justify-content: center;
  text-align: center;
  padding: 0px 180px;
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);*/
  box-shadow: 3px 5px 5px #eeefef;
}
.content .work__container .work__row .work_element img {
  margin-top: 80px;
}
.content .work__container .work__row .work_element .work_element_title {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  color: #2c4755;
  margin-top: 50px;
}
.content .work__container .work__row .work_element .work_element_description {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #575757;
  margin-top: 35px;
  margin-bottom: 70px;
}
.content .services {
  margin-top: 30px;
}
.content .services .services__body {
  display: flex;
}
.content .services .services__body .services__row {
  flex: 0 0 33.333%;
}
.content .services .services__body .services__row .services__element {
  display: flex;
  margin-bottom: 50px;
  padding-right: 60px;
}
.content .services .services__body .services__row .services__element .services__img {
  margin-right: 50px;
}
.content .services .services__body .services__row .services__element .services__text .services__body_title {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #1f2021;
  margin-bottom: 40px;
}
.content .services .services__body .services__row .services__element .services__text .services__body_description {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #4d4c4c;
}
.content .services .services__body .services__row .services__element .services__img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}
.content .services .services__body .services__row .services__row:last-child {
  padding-right: 0px;
}
.content .portfolio__container {
  background-color: #fafafa;
}
.content .portfolio__container .portfolio {
  max-width: 1600px;
  margin: 0 auto;
  height: 1000px;
}
.content .portfolio__container .portfolio .portfolio__header {
  color: #ebeced;
  margin-top: 75px;
}
.content .portfolio__container .portfolio .portfolio__body .portfolio__row {
  display: flex;
  justify-content: space-between;
}
.content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column {
  flex: 0 1 33.333%;
  margin-right: 40px;
}
.content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__text {
  width: inherit;
  background: #ffffff;
  padding: 25px 70px 35px 10px;
}
.content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__text .portfolio__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #1f2021;
  margin-bottom: 20px;
}
.content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__text .portfolio__description {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #4d4c4c;
}
.content .about {
  height: 850px;
}
.content .about .about__header {
  margin-top: 95px;
}
.content .about .about__body {
  display: flex;
}
.content .about .about__body .about__row {
  flex: 0 0 50%;
}
.content .about .about__body .about__row .about__element img {
  height: 455px;
}
.content .about .about__body .about__row .about__element .about__text .about__main {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  color: #334752;
  margin-bottom: 60px;
}
.content .about .about__body .about__row .about__element .about__text .about__line {
  border-top: 2px solid #38c9b9;
  margin-bottom: 30px;
  width: 50%;
}
.content .about .about__body .about__row .about__element .about__text .about__small {
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #575757;
  width: 83.333%;
}
.content .contact {
  height: 720px;
}
.content .contact .contact__header {
  color: #ebeced;
  margin-top: 90px;
}
.content .contact .contact__body {
  display: flex;
}
.content .contact .contact__body .contact__row {
  flex: 0 0 60.26%;
}
.content .contact .contact__body .contact__row .contact__text .contact__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 55px;
  letter-spacing: -3px;
  color: #2c4755;
  margin-bottom: 35px;
}
.content .contact .contact__body .contact__row .contact__text .contact__subtitle {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 50px;
  padding-left: 40px;
  letter-spacing: -3px;
  color: #10cab7;
}
.content .contact .contact__body .contact__row .contact__text .contact__line {
  border-top: 35px solid #ffffff;
  width: 76.71%;
  margin-top: -20px;
  margin-bottom: 60px;
}
.content .contact .contact__body .contact__row .contact__social {
  display: flex;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #334752;
  margin-left: 100px;
}
.content .contact .contact__body .contact__row .contact__social .social__text {
  margin-right: 40px;
}
.content .contact .contact__body .contact__row .contact__social .social__logo img {
  padding-right: 30px;
}
.content .contact .contact__body .contact__row .contact__social .social__logo img:last-child {
  padding-right: 0px;
}

header .header__navbar {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header .header__navbar .header_burger {
  margin-right: 100px;
}
header .header__container {
  background-color: #f6f6f6;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header__container .header__body .header__text {
  margin-top: 50px;
}
header .header__container .header__body .header__text .header__hello {
  color: #19c2b0;
  font-size: 55px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}
header .header__container .header__body .header__text .header__description {
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
header .header__container .header__body .header__text .header__description .header__description_element {
  margin-bottom: 20px;
}
header .header__container .header__body .header__text .header__description .header__description_element:last-child {
  margin-bottom: 0px;
}

/*footer*/
footer {
  background-color: #2c4755;
}
footer .footer__row {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
footer .footer__row .footer__text {
  color: #ffffff;
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

/*# sourceMappingURL=styles.css.map */
