@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* content styles*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

.content {
  flex: 1 1 auto;
}
.content .header__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.content .header__block .block__header {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 161px;
  color: #f6f6f6;
}
.content .header__block .block__subheader {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #575757;
  margin-top: -40px;
}
.content .work__container .work__row {
  display: flex;
  flex-direction: row;
  height: 400px;
}
.content .work__container .work__row .work_element:first-child {
  box-shadow: none;
}
.content .work__container .work__row .work_element:last-child {
  box-shadow: none;
}
.content .work__container .work__row .work_element {
  flex: 0 0 33.333%;
  justify-content: center;
  text-align: center;
  padding: 0px 180px;
  box-shadow: 3px 5px 5px #eeefef;
}
.content .work__container .work__row .work_element img {
  margin-top: 80px;
}
.content .work__container .work__row .work_element .work_element_title {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  color: #2c4755;
  margin-top: 50px;
}
.content .work__container .work__row .work_element .work_element_description {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #575757;
  margin-top: 35px;
  margin-bottom: 70px;
}
.content .services {
  margin-top: 30px;
}
.content .services .services__body {
  display: flex;
}
.content .services .services__body .services__row {
  flex: 0 0 33.333%;
}
.content .services .services__body .services__row .services__element {
  display: flex;
  margin-bottom: 50px;
  padding-right: 60px;
}
.content .services .services__body .services__row .services__element .services__img {
  margin-right: 50px;
}
.content .services .services__body .services__row .services__element .services__text .services__body_title {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #1f2021;
  margin-bottom: 40px;
}
.content .services .services__body .services__row .services__element .services__text .services__body_description {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #4d4c4c;
}
.content .services .services__body .services__row .services__element .services__img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}
.content .services .services__body .services__row .services__row:last-child {
  padding-right: 0px;
}
.content .portfolio__container {
  background-color: #fafafa;
}
.content .portfolio__container .portfolio {
  max-width: 1600px;
  margin: 0 auto;
  height: 1000px;
}
.content .portfolio__container .portfolio .portfolio__header {
  color: #ebeced;
  margin-top: 75px;
}
.content .portfolio__container .portfolio .portfolio__body .portfolio__row {
  display: flex;
  justify-content: space-between;
}
.content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column {
  flex: 0 1 33.333%;
  margin-right: 40px;
}
.content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__text {
  width: inherit;
  background: #ffffff;
  padding: 25px 70px 35px 10px;
}
.content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__text .portfolio__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #1f2021;
  margin-bottom: 20px;
}
.content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__text .portfolio__description {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #4d4c4c;
}
.content .about {
  height: 850px;
}
.content .about .about__header {
  margin-top: 95px;
}
.content .about .about__body {
  display: flex;
}
.content .about .about__body .about__row {
  flex: 0 0 50%;
}
.content .about .about__body .about__row .about__element img {
  height: 455px;
}
.content .about .about__body .about__row .about__element .about__text .about__main {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  color: #334752;
  margin-bottom: 60px;
}
.content .about .about__body .about__row .about__element .about__text .about__line {
  border-top: 2px solid #38c9b9;
  margin-bottom: 30px;
  width: 50%;
}
.content .about .about__body .about__row .about__element .about__text .about__small {
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #575757;
  width: 83.333%;
}
.content .contact {
  height: 720px;
}
.content .contact .contact__header {
  color: #ebeced;
  margin-top: 90px;
}
.content .contact .contact__body {
  display: flex;
}
.content .contact .contact__body .contact__row {
  flex: 0 0 60.26%;
}
.content .contact .contact__body .contact__row .contact__text .contact__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 55px;
  letter-spacing: -3px;
  color: #2c4755;
  margin-bottom: 35px;
}
.content .contact .contact__body .contact__row .contact__text .contact__subtitle {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 50px;
  padding-left: 40px;
  letter-spacing: -3px;
  color: #10cab7;
}
.content .contact .contact__body .contact__row .contact__text .contact__line {
  border-top: 35px solid #ffffff;
  width: 76.71%;
  margin-top: -20px;
  margin-bottom: 60px;
}
.content .contact .contact__body .contact__row .contact__social {
  display: flex;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #334752;
  margin-left: 100px;
}
.content .contact .contact__body .contact__row .contact__social .social__text {
  margin-right: 40px;
}
.content .contact .contact__body .contact__row .contact__social .social__logo img {
  padding-right: 30px;
}
.content .contact .contact__body .contact__row .contact__social .social__logo img:last-child {
  padding-right: 0px;
}

header .header__navbar {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header .header__navbar .header_burger {
  margin-right: 100px;
}
header .header__container {
  background-color: #f6f6f6;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header__container .header__body .header__text {
  margin-top: 50px;
}
header .header__container .header__body .header__text .header__hello {
  color: #19c2b0;
  font-size: 55px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}
header .header__container .header__body .header__text .header__description {
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
header .header__container .header__body .header__text .header__description .header__description_element {
  margin-bottom: 20px;
}
header .header__container .header__body .header__text .header__description .header__description_element:last-child {
  margin-bottom: 0px;
}

/*footer*/
footer {
  background-color: #2c4755;
}
footer .footer__row {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
footer .footer__row .footer__text {
  color: #ffffff;
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

@media (max-width: 1600px) {
  .content .work__container .work__row {
    height: 350px;
  }
  .content .work__container .work__row .work_element {
    padding: 0px 70px;
  }
  .content .work__container .work__row .work_element img {
    margin-top: 60px;
  }
  .content .work__container .work__row .work_element .work_element_title {
    margin-top: 50px;
  }
  .content .work__container .work__row .work_element .work_element_description {
    margin-top: 35px;
    margin-bottom: 50px;
  }
  .content .portfolio__container .portfolio {
    max-width: 1250px;
  }
  .content .portfolio__container .portfolio .portfolio__body {
    display: flex;
    justify-content: space-around;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__image img {
    max-width: 350px;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__text {
    max-width: 350px;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column:last-child {
    margin-right: 0px;
  }
}
@media (max-width: 1300px) {
  .container {
    max-width: 1000px;
  }

  .contact .contact__body {
    display: flex;
  }
  .contact .contact__body .contact__row .contact__text .contact__line {
    width: 540px !important;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
    padding: 0px 10px;
  }

  .content .work__container .work__row .work_element {
    padding: 0px 50px;
  }
  .content .services .services__body .services__row .services__element {
    margin-bottom: 50px;
    padding-right: 30px;
  }
  .content .services .services__body .services__row .services__element .services__img {
    margin-right: 10px;
  }
  .content .services .services__body .services__row .services__element .services__img_container {
    margin-bottom: 50px;
  }
  .content .services .services__body .services__row .services__element .services__img_container img:first-child {
    max-width: 200px;
  }
  .content .services .services__body .services__row .services__element .services__img_container img:last-child {
    max-width: 100px;
  }
  .content .services .services__body .services__row .services__row:last-child {
    padding-right: 0px;
  }
  .content .portfolio__container .portfolio {
    max-width: 970px;
    height: 800px;
  }
  .content .portfolio__container .portfolio .portfolio__body {
    display: flex;
    justify-content: space-around;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__image img {
    max-width: 290px;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__text {
    max-width: 290px;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column:last-child {
    margin-right: 0px;
  }
  .content .about {
    height: auto;
    margin-bottom: 30px;
  }
  .content .about .about__header {
    margin-top: 60px;
  }
  .content .about .about__body {
    margin: 0 10px;
  }
  .content .about .about__body .about__row {
    flex: 0 0 50%;
  }
  .content .about .about__body .about__row .about__element img {
    max-width: 380px;
  }
  .content .about .about__body .about__row:last-child {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
    padding: 0px 10px;
  }

  .content .work__container {
    height: 660px;
  }
  .content .work__container .work__row {
    display: flex;
    flex-direction: column;
  }
  .content .work__container .work__row .work_element {
    padding: 0px 50px;
  }
  .content .work__container .work__row .work_element img {
    margin-top: 30px;
  }
  .content .work__container .work__row .work_element .work_element_title {
    font-size: 15px;
    margin-top: 30px;
  }
  .content .work__container .work__row .work_element .work_element_description {
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .content .services .services__body .services__row .services__element {
    height: 180px;
    margin-bottom: 30px;
    padding-right: 20px;
  }
  .content .services .services__body .services__row .services__element .services__img_container {
    margin-bottom: 50px;
  }
  .content .services .services__body .services__row .services__element .services__img_container img:first-child {
    max-width: 180px;
  }
  .content .services .services__body .services__row .services__element .services__img_container img:last-child {
    max-width: 60px;
  }
  .content .services .services__body .services__row .services__row:last-child {
    padding-right: 0px;
  }
  .content .services .services__body:last-child {
    align-items: center;
  }
  .content .portfolio__container .portfolio {
    max-width: 740px;
    height: 750px;
  }
  .content .portfolio__container .portfolio .portfolio__body {
    display: flex;
    justify-content: space-around;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column {
    margin-right: 20px;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__image img {
    max-width: 200px;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__text {
    max-width: 200px;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column:last-child {
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0px 10px;
  }

  .content .work__container {
    height: 620px;
  }
  .content .header__block {
    margin-bottom: 50px;
  }
  .content .header__block .block__header {
    margin-top: 30px;
    font-size: 100px;
  }
  .content .header__block .block__subheader {
    font-size: 20px;
    margin-top: -25px;
  }
  .content .services .services__body {
    display: block;
  }
  .content .services .services__body .services__row .services__element {
    height: auto;
    margin-bottom: 30px;
    padding-right: 50px;
  }
  .content .services .services__body .services__row .services__element .services__img {
    margin-right: 30px;
  }
  .content .services .services__body .services__row .services__element .services__text .services__body_title {
    margin-bottom: 20px;
  }
  .content .services .services__body .services__row .services__element .services__img_container {
    display: none;
  }
  .content .portfolio__container .portfolio {
    max-width: 740px;
    height: 750px;
  }
  .content .portfolio__container .portfolio .portfolio__body {
    display: block;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row {
    display: flex;
    flex-direction: column;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column {
    margin-right: 10px;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 250px;
    margin-bottom: 10px;
    width: auto;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__image {
    max-height: 150px;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__text {
    max-width: none;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column:last-child {
    margin-right: 10px;
  }
  .content .about .about__header {
    margin-top: 60px;
  }
  .content .about .about__body {
    margin: 0 10px;
  }
  .content .about .about__body .about__row {
    flex: 0 1 50%;
  }
  .content .about .about__body .about__row .about__element img {
    max-width: 300px;
    height: auto;
  }
  .content .about .about__body .about__row .about__element .about__text .about__main {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .content .about .about__body .about__row .about__element .about__text .about__line {
    margin-bottom: 20px;
  }
  .content .about .about__body .about__row:last-child {
    padding-left: 10px;
    padding-right: 10px;
  }
  .content .contact {
    height: auto;
    padding-bottom: 30px;
  }
  .content .contact .contact__header {
    margin-top: 90px;
  }
  .content .contact .contact__body {
    display: block;
  }
  .content .contact .contact__body .contact__row {
    padding: 0 10px;
  }
  .content .contact .contact__body .contact__row .contact__text .contact__title {
    font-size: 45px;
    letter-spacing: -3px;
    margin-bottom: 35px;
  }
  .content .contact .contact__body .contact__row .contact__text .contact__subtitle {
    font-size: 40px;
    padding-left: 40px;
    letter-spacing: -3px;
  }
  .content .contact .contact__body .contact__row .contact__text .contact__line {
    width: 430px !important;
  }
  .content .contact .contact__body .contact__row .contact__social {
    font-size: 15px;
    margin-left: 50px;
  }
  .content .contact .contact__body .contact__row .contact__social .social__text {
    margin-right: 40px;
  }
}
@media (max-width: 500px) {
  .content .work__container {
    height: 550px;
  }
  .content .work__container .work__row .work_element {
    padding: 0px 20px;
  }
  .content .work__container .work__row .work_element img {
    margin-top: 20px;
  }
  .content .work__container .work__row .work_element .work_element_title {
    font-size: 15px;
    margin-top: 20px;
  }
  .content .work__container .work__row .work_element .work_element_description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .content .header__block {
    margin-bottom: 50px;
  }
  .content .header__block .block__header {
    margin-top: 30px;
    font-size: 40px;
  }
  .content .header__block .block__subheader {
    font-size: 15px;
    margin-top: -10px;
  }
  .content .services .services__body {
    display: block;
  }
  .content .services .services__body .services__row .services__element {
    height: auto;
    margin-bottom: 30px;
    padding-right: 50px;
  }
  .content .services .services__body .services__row .services__element .services__img {
    margin-right: 30px;
  }
  .content .services .services__body .services__row .services__element .services__text .services__body_title {
    margin-bottom: 20px;
  }
  .content .services .services__body .services__row .services__element .services__img_container {
    display: none;
  }
  .content .portfolio__container {
    display: block;
    max-width: none;
  }
  .content .portfolio__container .portfolio {
    height: auto !important;
  }
  .content .portfolio__container .portfolio .portfolio__header {
    margin-top: 30px !important;
  }
  .content .portfolio__container .portfolio .portfolio__body {
    display: block;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row {
    flex: 0 0 33.333%;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__image img {
    max-height: 100px;
    max-width: 100px;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column .portfolio__element .portfolio__text {
    height: auto !important;
    padding-right: 30px !important;
  }
  .content .portfolio__container .portfolio .portfolio__body .portfolio__row .portfolio__column:last-child {
    margin-right: 10px;
  }
  .content .about .about__header {
    margin-top: 40px;
  }
  .content .about .about__body {
    display: block;
    margin: 0 10px;
  }
  .content .about .about__body .about__row .about__element img {
    display: none;
  }
  .content .about .about__body .about__row:last-child {
    padding-left: 10px;
    padding-right: 10px;
  }
  .content .contact .contact__header {
    margin-top: 70px;
  }
  .content .contact .contact__body .contact__row {
    padding: 0 0;
  }
  .content .contact .contact__body .contact__row .contact__text .contact__title {
    font-size: 25px;
    letter-spacing: -1px;
    margin-bottom: 25px;
  }
  .content .contact .contact__body .contact__row .contact__text .contact__subtitle {
    font-size: 20px;
    padding-left: 20px;
    letter-spacing: -1px;
  }
  .content .contact .contact__body .contact__row .contact__text .contact__line {
    border-top: 15px solid #ffffff;
    margin-top: -5px;
    width: 225px !important;
  }
  .content .contact .contact__body .contact__row .contact__social {
    display: block;
    text-align: center;
    font-size: 15px;
    margin-left: 0;
  }
  .content .contact .contact__body .contact__row .contact__social .social__text {
    letter-spacing: -1px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .content .contact .contact__body .contact__row .contact__social .social__logo img {
    padding-right: 10px;
  }
}
@media (max-width: 320px) {
  .content .work__container {
    height: 600px;
  }
  .content .work__container .work__row .work_element img {
    max-height: 50px;
  }
}
@media (max-width: 300px) {
  body {
    min-width: 300px;
    overflow-x: scroll;
  }
}

/*# sourceMappingURL=styles.css.map */
